.content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.logo {
  font-size: 100px;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 30px;
  }
}
.button {
  font-size: 200px;
  border-radius: 1000px;
  border: 4px slateblue solid;
  padding: 10px 80px 10px 80px;
  background: transparent;
  transition: 0.6;
  &:hover {
    background-color: slateblue;

    cursor: pointer;
    transition: 0.6;
  }
  @media (max-width: 768px) {
    font-size: 40px;
    border-radius: 1000px;
    border: 2px slateblue solid;
    padding: 0px 15px 0px 15px;
    background: transparent;
    transition: 0.6;
  }
}
.link {
  color: black;
  &:hover {
    color: aliceblue;
  }
}
