:root {
  --bg: #f4f4f4;
  --bg-black: #1a1a1a;
  --black: #101010;
  --white: #ffffff;
  --text: #eff0ef;
  --hover: #ccc;
  --focus: #999;
  --none: transparent;
}
// Цвета
$color-primary: #666;
$color-primary2: #845ec2;
$color-primary3: #35283c;
$color-secondary: #888;
$color-light: #e0e0e0;
$color-lightest: #efefef;
$color-brand: #239bf6;
$main-color: #ff00ff;
$shadow-color: #6e21e6;

// Цвета брендов
$github: #333;
$color-spotify: #2ebd59;
