@use "./null";
@use "./fonts";
@use "./colors";
@use "./decoration";

* {
  accent-color: rgb(250, 150, 0);
  caret-color: rgb(252, 125, 146);
}
input {
  border-color: solid orange;
}
.pov {
  position: absolute;
  inset: 10px 10px 100px 10px;
}
